.card{
    width: 50%;
    font-size: 10px;
    flex: 0 0 auto;         /* ADD */
    display: flex;          /* ADD */
    flex-direction: column; /* ADD */
    }
.card-image{
    width: 200%;
    height: 11rem;
    border-radius: 1rem;

}
.card-status{
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    gap: 40%;
    
}
.card-status img{
    height: 1rem;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--price {
    margin-top: auto;
}

.free{
    color: grey;
}