.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;

}

.container img{
    width: 310px;
}
.button{
    background-color: blue;
    width: 100px;
    height: 30px;
    border: none;
}